[submodule "pack/custom/start/vim-airline"]
	path = pack/custom/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "pack/custom/start/vim-multiple-cursors"]
	path = pack/custom/start/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule "pack/custom/start/tagbar"]
	path = pack/custom/start/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "pack/custom/start/ranger.vim"]
	path = pack/custom/start/ranger.vim
	url = https://github.com/francoiscabrol/ranger.vim.git
[submodule "pack/custom/start/gist-vim"]
	path = pack/custom/start/gist-vim
	url = https://github.com/mattn/gist-vim.git
[submodule "pack/custom/start/webapi-vim"]
	path = pack/custom/start/webapi-vim
	url = https://github.com/mattn/webapi-vim.git
[submodule "pack/custom/start/fzf-vim"]
	path = pack/custom/start/fzf-vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "pack/custom/start/vim-commentary"]
	path = pack/custom/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "pack/custom/start/vim-polyglot"]
	path = pack/custom/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule "pack/custom/start/intellisense"]
	path = pack/custom/start/coc.vim
	url = https://github.com/neoclide/coc.nvim.git
[submodule "pack/custom/start/nnn-vim"]
	path = pack/custom/start/nnn-vim
	url = https://github.com/mcchrish/nnn.vim
[submodule "pack/custom/start/vim-tmux-navigator"]
	path = pack/custom/start/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator
[submodule "pack/custom/start/vim-dadbod"]
	path = pack/custom/start/vim-dadbod
	url = https://github.com/tpope/vim-dadbod.git
[submodule "pack/custom/start/vim-surround"]
	path = pack/custom/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "pack/custom/start/vim-repeat"]
	path = pack/custom/start/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "pack/custom/start/vim-fugitive"]
	path = pack/custom/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "pack/custom/start/vim-startify"]
	path = pack/custom/start/vim-startify
	url = https://github.com/mhinz/vim-startify.git
