[submodule "pack/custom/start/gist-vim"]
	path = pack/custom/start/gist-vim
	url = https://github.com/mattn/gist-vim.git
[submodule "pack/custom/start/webapi-vim"]
	path = pack/custom/start/webapi-vim
	url = https://github.com/mattn/webapi-vim.git
[submodule "pack/custom/start/fzf-vim"]
	path = pack/custom/start/fzf-vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "pack/custom/start/vim-commentary"]
	path = pack/custom/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "pack/custom/start/vim-polyglot"]
	path = pack/custom/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule "pack/custom/start/nnn-vim"]
	path = pack/custom/start/nnn-vim
	url = https://github.com/mcchrish/nnn.vim
[submodule "pack/custom/start/vim-tmux-navigator"]
	path = pack/custom/start/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator
[submodule "pack/custom/start/vim-dadbod"]
	path = pack/custom/start/vim-dadbod
	url = https://github.com/tpope/vim-dadbod.git
[submodule "pack/custom/start/vim-surround"]
	path = pack/custom/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "pack/custom/start/vim-repeat"]
	path = pack/custom/start/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "pack/custom/start/vim-fugitive"]
	path = pack/custom/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "pack/custom/start/vim-go"]
	path = pack/custom/start/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "pack/custom/start/vim-dadbod-ui"]
	path = pack/custom/start/vim-dadbod-ui
	url = https://github.com/kristijanhusak/vim-dadbod-ui.git
[submodule "pack/custom/start/vim-table-mode"]
	path = pack/custom/start/vim-table-mode
	url = https://github.com/dhruvasagar/vim-table-mode.git
[submodule "pack/custom/start/auto-pairs"]
	path = pack/custom/start/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs
[submodule "LSP"]
	path = pack/custom/start/LanguageClient-neovim
	url = https://github.com/autozimu/LanguageClient-neovim
	branch = next
[submodule "airline"]
	path = pack/custom/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "pack/custom/start/vim-slime"]
	path = pack/custom/start/vim-slime
	url = https://github.com/jpalardy/vim-slime
[submodule "pack/custom/start/deoplete"]
	path = pack/custom/start/deoplete
	url = https://github.com/Shougo/deoplete.nvim.git
